<main class="content">
  <table class="center">
    <tbody>
      <tr><h1>Electron Timer</h1></tr>
      <tr>
        <td>
          <div class="progress-wrapper" *ngIf="maxVal">
            <div class="current" *ngIf="!isFinished">
              {{ max - current | number: '1.1-1' }}
            </div>
            <div class="current" *ngIf="isFinished">
                ding!
                <audio src="assets/chime.mp3" autoplay></audio>
            </div>
            <round-progress [max]="max" [current]="current" [radius]="100" [stroke]="25" aria></round-progress>
          </div>
        </td>  
      </tr>
      <tr>
        <td>
            <mat-form-field class="p80">
                <input matInput placeholder="number of seconds" type="text" [(ngModel)]="max" (keydown)="reset()">
            </mat-form-field>          
        </td>
      </tr>
      <tr>
        <td>
          <button mat-raised-button color="warn" (click)="start()">Start</button>
          <button mat-raised-button color="primary" (click)="finish();">Finish</button>
        </td>
      </tr>
    </tbody>
  </table>
  

  <!-- <div class="controls-wrapper">
      <label>Seconds</label>
      <input class="input" placeholder="number of seconds" type="text" 
            [(ngModel)]="max"
            (keydown)="reset()">
          
      <button mat-raised-button color="warn" (click)="start()">Start</button>
      <button mat-raised-button color="primary" (click)="finish()">Finish</button>
  </div> -->
</main>